.body{ 
  width: 100%;
  height: auto;
  background-color: #3c4043; 
  overflow-x: hidden !important;
}


.container-fluid {
   margin-top: 88px;
   /* height: clac(100vh - 74px);  */
   height: 100%;
  width: 100%;
  position: relative;
  background-color: #3c4043; 

}

#room__container {
  position: relative;
  display: flex;
  gap: -3rem;
  background-color: #3c4043; 

}



#stream__container {
  justify-self: center;
  /* width: calc(100% - 40.7rem); */
  width:100%;
  position: fixed;
  /* left: 15.7rem; */
  top: clac(100vh - 72px);
  overflow-y: auto;
  height: 100%;
  background-color: #3c4043; 
  overflow: hidden;
}
#streams__container{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-content: center;
  margin-top:25px ;
  margin-bottom: 225px;
  gap:2em;
  
}
#streams__box{
background-color: black;
height: 60vh;
display: none;
}
#streams__box .video__container{
border:2px solid black;
height: 100%!important;
width: 100% !important;
}
#streams__box video{
  border-radius: 0;

}





.video_player{
  height: 100%;
  width: 100%;
  background-color: black;

}


@media only screen and (min-width: 768px) {
  /* For screen sizes 768px and up */
  #streams__container {
    gap: 3em;
  }

  .video__container {
    height: 200px !important;
    width: 200px !important;
  }
}

@media only screen and (min-width: 992px) {
  /* For screen sizes 992px and up */
  #streams__container {
    gap: 4em;
  }

  .video__container {
    height: 150px !important;
    width: 150px !important;
  }
}

@media only screen and (min-width: 1200px) {
  /* For screen sizes 1200px and up */
  #streams__container {
    gap: 5em;
  }

  .video__container {
    height: 125px !important;
    width: 125px !important;
  }
}


@media (max-width: 1400px) {
  .video__container{

    height: 200px;
    width: 200px;
  }
}

@media (max-width: 768px) {
  .video__container {
    width: calc(50% - 1em);
    height: calc(50% - 1em);
  }
}


@media (max-width: 1200px) {
  #members__container {
    display: none;
  }



  #stream__container {
    width: calc(100% - 25rem);
    left: 0;
  }
}

@media (max-width: 980px) {
  #stream__container {
    width: calc(100% - 20rem);
    left: 0;
  }

}

@media (max-width: 768px) {
  #stream__container {
    width: 100%;
  }


@media (max-width: 1400px) {
  .video__container{

    height: 100px;
    width: 100px;
  }
}


  #messages__container {
    display: none;
  }


}

#stream__box {
  position: relative;
}



.stream__actions {
  position: fixed;
  bottom: 1rem;
  border-radius: 8px;
  background-color: #1a1a1a60;
  padding: 1rem;
  left: 50%;
  display: flex;
  gap: 1rem;
  transform: translateX(-50%);
}

.stream__actions a,
.stream__actions button {
  cursor: pointer;
  /* background-color: #112257; */
  color: #fff;
  border: none;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0.5rem 1rem;
  border-radius: 5px;
  transition: all 0.2s ease-in-out;
}

.stream__actions a svg,
.stream__actions button svg {
  width: 1.5rem;
  height: 1.5rem;
  fill: #ede0e0;
}





/* camera toogle */
.initialBtn{
  background-color: #112257;
  height:5.5vh;
}


.leave_btn{
  height:5.5vh;
}
.example-container {
  width: 100%;
  height: 100vh;
  background-color: #3c4043; 
 
}


.example-sidenav {
  padding: 20px;
  width:250px;
}

.participant-list {
  list-style: none;
  padding: 0;

  margin: 0;
}

.participant-item {
  margin-bottom: 8px;
  padding: 8px;
  border-radius: 4px;
  background-color: #f2f2f2;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  color: #112257;
  font-size: 1.2rem;
  font-weight: bold;
  margin-bottom: 10px;
}

.stream__actions_side_two{
  width: auto;
  position: fixed;
  bottom: 1rem;
  border-radius: 8px;
  background-color: #1a1a1a60;
  padding: 1rem;

  display: flex;
  
  gap: 1rem;
 

 
 
}

.dialog-container {
  padding: 0 !important;
  margin: 0 !important  ;
}


.shadowd {
  border-radius: 5px;
  /* border-top-left-radius: 20px;
  border-top-right-radius: 20px; */
  /* box-shadow: -7px -12px 117px 30px rgba(8,2,2,0.63) inset;
  -webkit-box-shadow: -7px -12px 117px 30px rgba(8,2,2,0.63) inset;
  -moz-box-shadow: -7px -12px 117px 30px rgba(8,2,2,0.63) inset; */
}

.menu-content {
  display: flex;
 
}

.menu-column {
  flex: 1; 
  padding: 8px;
}

.button-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center; 
}

.button-label {
  transform: translateY(-50%); 
  margin-top: 12px;
  font-size: 10px;
}
.button-share-label{
  transform: translateY(-50%); 
  margin-top: 10px;
  font-size: 8px;
}