
<h1>Welcome to our meeting page</h1>

<div class="button-container">
  <button (click)="showCreateMeetingForm()">Create Class</button>
  <button (click)="showJoinMeetingForm()">Join Class</button>
</div>



<div class="container" *ngIf="showCreateMeeting">
  <div class="form">
    <h3>Create a Meeting</h3>
    
    <input type="text" placeholder="Enter your name" [(ngModel)]="name">

     <!-- <button type="submit" (click)="goToroom()">Create Meeting</button>  -->

    <button mat-raised-button (click)="openDialog()">Create Meeting</button>

  </div>
</div>

<div class="container" *ngIf=" showJoinMeeting">
  <div class="form">
    <h3>Join a Meeting</h3>

    <input type="text" placeholder="Enter your name" [(ngModel)]="joinName">
    <input type="email" placeholder="Enter the meeting Id" [(ngModel)]="roomName">
    <button type="submit" (click)="goToroom()">Join Meeting</button>
  </div>
</div>





