<!-- <div id="videos">
  <video class="video-player" #user_1 autoplay playsInline></video>
  <video class="video-player" #user_2 autoplay playsInline></video>

</div> -->


<div class="container " *ngIf="showoption">
  <div class="col-6 shadow p-5 mx-auto mt-5 d-flex justify-content-center">
    <button class="btn btn-primary" (click)="createNewRoom()" >Create a Meeting </button>

    <button class="btn btn-primary mx-2" (click)="joinMeeting()">Join a meeting </button>
  </div>
</div>

<div class="container " *ngIf="showjoinmeet">
  <div class="col-6 shadow p-5 mx-auto mt-5 ">
    <h2>Join a meeting</h2>
    <input type="text" class="form-control" placeholder="Enter the meeting link" (input)="checkLink()" [(ngModel)]="link">
    <button class="btn btn-primary mx-2 mt-2" [disabled]="disableBtn" (click)="answerCall() ">Join a meeting </button>
    <button class="btn btn-primary mx-2 mt-2"  >Create New Meeting </button>
  </div>
</div>





<div class="mainScreen" *ngIf="showMeetingRoom">
  <div class="videos">
    <div class="video-container">
      <video class="video-player1" #user_1 autoplay playsInline></video>
      <div class="icon-container">
        <i class="fas fa-cog"></i>
      </div>
    </div>
    <div class="video-container">
      <video class="video-player2" #user_2 autoplay playsInline></video>
      <div class="icon-container">
        <i class="fas fa-cog"></i>
      </div>
    </div>
  </div>
</div>

  
  <div class="footer">
    <div class="controls">
      <div>
        <ng-container>
          <button mat-mini-fab color="white" (click)="toogleMic()">
            <mat-icon class="text-dark" matTooltip="Start recording " matTooltipPosition="above"
              >
              mic
            </mat-icon>
          </button>
        </ng-container>
        <ng-container>
          <button mat-mini-fab color="white" class="" (click)="toogleCamera()">
            <mat-icon class="text-dark" matTooltip="Start recording " matTooltipPosition="above"
              >
              videocam
            </mat-icon>
          </button>
        </ng-container>
        <ng-container>
          <button mat-mini-fab color="white" class="" >
            <mat-icon class="text-dark" matTooltip="Start recording " matTooltipPosition="above"
              >

                call_end

            </mat-icon>
          </button>
        </ng-container>





    </div>

  </div>


